# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Flask instance folder
instance/
*.db
*.sqlite3

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Python egg
*.egg
*.egg-info/
dist/
build/
